<div class="mainBox" *ngIf="user != null">
  <div class="header">
    <h1>{{user.name}}</h1>
  </div>
  <div class="content">
    <ul class="list">
      <li>
        <h2 class="first">ID:</h2>
        <h2>{{user.id}}</h2>
      </li>
      <li>
        <h2 class="first">Username:</h2>
        <h2>{{user.username}}</h2>
      </li>
      <li>
        <h2 class="first">Enabled:</h2>
        <h2>{{user.enabled ? 'True' : 'False'}}</h2>
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button *ngIf="!isUserAdmin" class="pwdButton" (click)="openChangePass()">Change password</button>
    <button *ngIf="!isSuperAdmin" [ngClass]="user.enabled ? 'disableBtn':'enableBtn' "
            (click)="openConfirm()">{{user.enabled ? 'Disable' : 'Enable'}}</button>
  </div>
</div>
