<nav class="navbar fixed-top navbar-expand-lg navbar-dark noPadding" style="background-color: #3D4B62;">

  <img class="navbar-brand" src="assets/white_logo.png" alt="Logo Van der Lelie"/>

  <div class="collapse navbar-collapse h-100" id="navbarNav">
    <ul class="navbar-nav  ms-auto">
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['WasteProcessing']" class="nav-link" href="#">Waste Processing</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['orders']" class="nav-link" href="app/orders">Orders</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLink]="['adminPanel']" class="nav-link" href="app/admin-panel">Admin Panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log Out</a>
      </li>
    </ul>
  </div>

</nav>
