@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

.navbar-nav {
  margin-right: 5rem;
  height: 100%;
}

.navbar-nav > li {
  padding-left: 3rem;
  padding-right: 3rem;
  height: 100%;
  align-items: center;
  display: flex;
}

.navbar-nav > li > a {
  font-size: 25px;
  font-family: 'Maven Pro', sans-serif;
}

.navbar-nav > .active > a {
  color: black;
}

.navbar-nav > .active {
  border-bottom: 6px solid #4BC8B6;
}

.noPadding {
  padding: 0;
}

.navbar {
  height: 13vh;
}






