<div class="mainBox" *ngIf="todo != null && article!= null">
  <div class="header">
    <h1>Article: {{article.artikelnummer}}</h1>
  </div>
  <div class="content">
    <ul class="list">
      <ng-template [ngIf]="todo.type == 'catWaste'">
        <li>
          <h2>
            Weight: {{todo.gewicht}} g
          </h2>
        <li>
        <li>
          <h2>
            Size: {{todo.metrage}}m&#178;
          </h2>
        <li>
        <li>
          <h2>
            Type: {{type}}
          </h2>
        <li>
        <li>
          <h2>
            Color: {{article.kleur}}
          </h2>
        <li>
        <li>
          <h2>
            Category: {{category}}
          </h2>
        </li>
      </ng-template>
      <ng-template [ngIf]="todo.type != 'catWaste'">
        <li>
          <h2>
            Weight: {{todo.gewicht}} g
          </h2>
        <li>
        <li>
          <h2>
            Size: {{todo.metrage}}m&#178;
          </h2>
        <li>
        <li>
          <h2>
            Type: {{type}}
          </h2>
        <li>
        <li>
          <h2>
            Color: {{article.kleur}}
          </h2>
        <li>
      </ng-template>
    </ul>
    <button class="doneButton" id="done" (click)="done()">Done!</button>
    <button type="button" class="btn btn-primary" *ngIf="todo.type=='catWaste'" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Preview Label</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-label-preview [todo]="todo"> </app-label-preview>
  </div>
