
  <div class="modal-header">
    <h5 class="modal-title">Add Voorwaarde</h5>
  </div>
  <div class="modal-body">
    <input type="text" class="inputBox" #condition>
    <div class="andOrDiv">
      <button class="andOr" type="button" (click)="andOr()" [disabled]="andOrButton">Or</button>
      <button class="andOr space" type="button" (click)="andOr()" [disabled]="!andOrButton">And</button>
    </div>
    <div class="flexBox">
      <button class="cancelButton button" (click)="closeModal()" type="button">Cancel</button>
      <button class="addButton button" (click)="createInput()" type="button">Add</button>
    </div>
  </div>
