.categoryName {
  margin: 1.3rem;
  padding: 0.5rem;
  border: 2px solid #DCDDE1;
  border-radius: 5px;
  font-size: 2rem;
  width: 30%;
}

.enabledDiv {

}

.conditions {
  display: block;
}

.conditionsDiv {
  height: 40vh;
  margin-bottom: 10rem;
}

.mainBox {
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.header {
  border-bottom: #DCDDE1 2px solid;

  h1 {
    margin: 1rem;
  }
}

.inputBox {
  border: 2px solid #DCDDE1;
  border-radius: 5px;
}

.content {
  margin: 3rem 1rem;
  height: 100%;
}

.first {
  width: 50%;
}

.list > li > h2 {
  margin-top: 1rem;
}

.list > li {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #DCDDE1;
  width: 80%;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.trueButton {
  border-radius: 5px;
  font-family: 'Maven Pro', sans-serif;
  color: black;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #4BC8B6;
  transition: .5s;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.removeButton{
  border-radius: 5px;
  font-family: 'Maven Pro', sans-serif;
  color: black;
  padding: 0 .5rem;
  border: 2px solid #4BC8B6;
  background-color: gray;
  transition: .5s;
  font-size: 1rem;
  transition-duration: 0.4s;
  margin-left: 1rem;
}

.saveButton {
  border-radius: 5px;
  font-family: 'Maven Pro', sans-serif;
  color: black;
  padding: .5rem;
  border: none;
  background-color: #4BC8B6;
  transition: .5s;
  font-size: 2rem;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}

.saveButton:disabled{
  background-color: gray;
}

.addButton {
  border-radius: 5px;
  font-family: 'Maven Pro', sans-serif;
  color: black;
  padding: 0 .5rem;
  border: none;
  background-color: #4BC8B6;
  transition: .5s;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.removeButton:hover{
  background-color: #4BC8B6;
  color: black;
}

.saveButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.saveButton:hover {
  background-color: #3da294;
}

.saveButton:active {
  background-color: #94d3a2;
}

.addButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.addButton:hover {
  background-color: #3da294;
}

.addButton:active {
  background-color: #94d3a2;
}
