<div class="mainBox">
  <div class="header">
    <input type="text" class="categoryName" placeholder="Name">
  </div>
  <div class="content">
    <div class="conditionsDiv">
      <h4>Conditions</h4>
      <div>
        <input type="text" class="inputBox">
        <button type="button" class="removeButton">Rem.</button>
      </div>
      <button type="button" class="addButton">Add</button>
    </div>
    <div>
      <h4>Enabled?</h4>
      <button type="button" class="trueButton">True</button>
    </div>
    <button class="saveButton">Save</button>
  </div>
</div>

