.box{
  position: relative;
  top: 10%;
}

.btn-primary{
  border-radius: 15%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  margin-left: 500px;
  width: 5%;

}
.btn-primary:hover{
  background-color: lightblue;
}
.btn-secondary:hover{
  background-color: lightblue;
}
.btn-secondary{
  border-radius: 15%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  margin-left: 10px;
  width: 5%;
}
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 25px auto;
}
.styled-table thead tr {
  background-color: #3D4B62;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  width: 10%;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid;
}
.styled-table tbody tr td {
  border-left: 1px solid;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #009879;
}
.vergrootglas{
  height: 40px;
  width: 40px;
  margin-left: 25px;
  margin-bottom: -15px;
  position: center;
}


