.box{
  margin-top: 5vh;

}

.btn-primary{
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  margin-left: 55%;
  width: 5%;

}
.btn-primary:hover{
  background-color:  rgba(61, 75, 98, 0.2);
}
.btn-secondary:hover{
  background-color:  rgba(61, 75, 98, 0.2);
}
.searchknop{
  all: unset;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 25px;
  margin-left: 10px;
  cursor: pointer;



}
.btn-secondary{
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  margin-left: 10px;
  width: 5%;
}
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 25px auto;
  width: 75%;
}
.styled-table thead tr {
  background-color: rgba(61, 75, 98, 1);
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  width: 20%;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid;
}
.styled-table tbody tr td {
  border-left: 1px solid;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid black;
}
.vergrootglas {
  height: 40px;
  width: 40px;
  margin-left: 25px;
  margin-bottom: -15px;
  position: center;
}
.styled-table tr:nth-child(even){background-color: rgba(61, 75, 98, 0.2);}

.styled-table th:first-child,
.styled-table td:first-child {
  width: 3%;
}
div.scrollMenu{
  width: 85%;
  height: 600px;
  overflow-y: auto;

}
div.scrollMenu tr {
  display: table;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}


