<div class="box">
    <form id="form">
      <button type="button" class="btn-primary" id="button-pdf" (click)="OrdersService.test()" >PDF</button>
      <button type="button" class="btn-secondary" >delete</button>
      <input type="search" id="query" name="q" placeholder="Search...">
<!--      <input type="image" class="vergrootglas" src="assets/vergrootglas.png">-->
      <button type="button" class="searchknop" >🔍</button>
    </form>
</div>
<div>
  <table class="styled-table">
    <thead>
    <tr>
      <th class="check"></th>
      <th>ID</th>
      <th>ArticleID</th>
      <th>CustomerID</th>
      <th>Metrage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="check"><input type="checkbox" id="order1"></td>
      <td>Dom</td>
      <td>6000</td>
      <td>3</td>
      <td>24</td>
    </tr>
    <tr class="active-row">
      <td class="check"><input type="checkbox" id="order2"></td>
      <td>Melissa</td>
      <td>5150</td>
      <td>6</td>
      <td>24</td>
    </tr>
    </tbody>
  </table>
</div>
