<div id = box>
  <ul>
    <form id="form">
      <button type="button" class="btn-primary" id="button-pdf" (click)="OrdersService.test()">PDF</button>
      <button type="button" class="btn-primary" (click)="OrdersService.test()">delete</button>
      <input type="search" id="query" name="q" placeholder="Search...">
      <button type="button" class="btn btn-primary" (click)="OrdersService.test()">Search</button>
    </form>
  </ul>
  <table class="styled-table" style="margin-left: 100px">
    <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>ArticleID</th>
      <th>CustomerID</th>
      <th>Metrage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="checkbox" id="order1"></td>
      <td>Dom</td>
      <td>6000</td>
      <td>3</td>
      <td>24</td>
    </tr>
    <tr class="active-row">
      <td><input type="checkbox" id="order2"></td>
      <td>Melissa</td>
      <td>5150</td>
      <td>6</td>
      <td>24</td>
    </tr>
    </tbody>
  </table>

</div>
