<div class="box">
  <form id="form">
    <button type="button" class="btn-primary" id="button-pdf" (click)="showOrder()">Refresh</button>
    <button type="button" class="btn-secondary" (click)="disableOrder()" *ngIf="isAdmin">disable</button>
    <input type="search" id="query" name="q" placeholder="Search...">
    <button type="button" class="searchknop">🔍</button>
  </form>
</div>
<div class="scrollMenu">
  <table class="styled-table float-end">
    <thead>
    <tr class="tableHead">
      <th class="check"></th>
      <th>ID</th>
      <th>Customer</th>
      <th>Metrage</th>
      <th>Colour</th>
      <th>Weight</th>
      <th>Category</th>
      <th>Employee</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of allOrdersList; let i = index">
    <tr>
      <td>
        <mat-checkbox id="{{'check' + i}}"></mat-checkbox>
      </td>
      <td>{{item[0]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[5]}}</td>
      <td>{{item[7]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[1]}}</td>
    </tr>
    </tbody>
  </table>
</div>
