p{
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.canvas{
  border-top: 2px solid black;

}
.flexbox {
  display: flex;
}
.flexenditem {

}
.margin {
  margin-top: 1rem;
}
.modal-body {
  background-color: white;
}
