p{
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.canvas{
  border-top: 2px solid black;
  width: 80%;
}
.flexbox {
  display: flex;
}
.flexenditem {
  margin-left: auto;
}
.margin {
  margin-top: 1rem;
}
