.listIdentifiers {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  text-align: center;
  h1 {
    font-size: 1rem;
  }
}

.topbar{
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.size {
  width: 100%;
  border-left: solid 3px #E9E9E9;
  border-right: solid 3px #E9E9E9;
}
.dropdownbar {
  width: 10rem;
}

.dropdownbar2 {
  margin-left: 1%;
  width: 10rem;
  margin-right: 1%;
}
.disableButton {
  width: 5rem;
  border: none;
  border-radius: 15px;
  background-color: #c78283;
}

.btnCtn {
   margin-left: 2rem;
}

.detailsButton {
  width: 5rem;
  border: none;
  border-radius: 15px;
  background-color: #4BC8B6;
}

.btnCtn :hover {
  opacity: 80%;
}

.searchbar {
  width: 25%;
  border-radius: 8px;
  border: 2px solid #E9E9E9;
  margin-right: 2rem;
}
.filterheader {
  justify-content: center;
  border-bottom: 2px solid #E9E9E9;
  padding-bottom: 0.5rem;
}
.all{
  background-color: white;
  font-weight: 500;
}

@media only screen and (min-width: 654px) {
  .size {
    width: 80%;
    margin-left: 10%;
  }

  .filterheader {
    max-width: 85.7vw;
  }

  .history {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 77vh;
  }

}
