.listIdentifiers {
  display: flex;
  flex-direction: row;
  text-align: center;
  h1 {
    font-size: 1rem;
  }
}
.topbar{
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.size {
  width: 100%;

}
.dropdownbar {
  width: 10rem;
}

.dropdownbar2 {
  margin-left: 1%;
  width: 10rem;
  margin-right: 1%;
}
.disableButton {
  width: 5rem;
  margin: 0 1rem;
  border: none;
  border-radius: 15px;
  background-color: #4BC8B6;
}

.btnCtn {
   margin-left: 2rem;
}

.detailsButton {
  width: 5rem;
  border: none;
  border-radius: 15px;
  background-color: #4BC8B6;
}

.btnCtn :hover {
  opacity: 80%;
}

.searchbar {
  width: 25%;
  border-radius: 8px;
  border: 2px solid #E9E9E9;
  margin-right: 2rem;
}
.filterheader {
  justify-content: center;
  border-bottom: 2px solid #E9E9E9;
  padding-bottom: 0.5rem;

}
.all{
  background-color: white;
  font-weight: 500;
}

