<div class="all">
<h2>History</h2>

<div class="row filterheader">
  <select class="form-select dropdownbar" aria-label="Select type"  #typeSelection>
    <option value="all" selected>All</option>
    <option value="order">Order</option>
    <option value="catWaste">catWaste</option>
    <option value="storage">Storage</option>
  </select>
  <button class="disableButton" id="done" >Disable</button>
  <input class="searchbar" type="text" placeholder="Search...">

</div>
<div class="row size">
  <div class="listIdentifiers">
    <h1 style="width: 20%;margin-left: 1rem"></h1>
    <h1 style="width: 40%">Article Number</h1>
    <h1 style="width: 30%">Customer</h1>
    <h1 style="width: 40%">Type</h1>
    <h1 style="width: 30%">Employee</h1>
    <h1 style="width: 40%">metrage</h1>
    <h1 style="width: 30%">Date</h1>
  </div>

  <ul *ngFor="let leftover of leftovers">
    <app-history-item [leftover]="leftover"></app-history-item>
  </ul>
</div>
</div>
