.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

#container {
  display: grid;
  justify-content: right;
  width: 90%;
  height: 80%;
  margin-left: auto;
}


