#background {
  height: 100vh;
  width: 100vw;
  background-color: lightgrey;
  position: fixed;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.desktop-row {
  height: 100%;
}

#desktop {
  display: grid;
  justify-content: right;
  width: 80%;
  max-width: 900px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#mobile {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: none;
}

.mobileWrapper {
  margin: auto auto auto;
}

#mobileLogo {
  margin: 0 auto;
  width: 254px;
}
#mobileWelcome {
  text-align: center;
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #4D4E53;
}
.inputFieldMobile {
  width: 226px;
  height: 37px;
  margin: 0 auto;
}
#mobileLoginBtn {
  height: 29px;
  width: 146px;
  margin: 0 auto;
  text-align: center;
  --bs-btn-padding-x: none;
}

@media screen and (max-width: 880px), (max-height: 600px){
  #background {
    display: none;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
  }
}




