<div class="wasteProc">

  <mat-tab-group>
    <mat-tab label="First"> Content 1</mat-tab>
    <mat-tab label="Second"> Content 2</mat-tab>
    <mat-tab label="Third"> Content 3</mat-tab>
  </mat-tab-group>

  <!--  <div>-->
  <!--    <h1>Amount of waste to go: 1</h1>-->
  <!--  </div>-->
  <!--  <div class="todoList">-->
  <!--    <ul>-->
  <!--      <li class="toDoItem" *ngFor="let todo of todoList">-->
  <!--        <div class="toDoButton">-->
  <!--        <span data-bs-toggle="modal" data-bs-target="#todoModal"-->
  <!--              (click)="todoDetail(todo)">Article number: {{todo.articleNumber}}</span>-->
  <!--        </div>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->


  <!-- Modal -->
  <div class="modal fade" id="todoModal" tabindex="-1" aria-labelledby="todoModel" aria-hidden="true">
    <app-to-do-modal [type]="selectedType" [todo]="selectedTodo" [isShownInput]="showModal"
                     (isShownOutput)="setShown($event)"></app-to-do-modal>
  </div>

</div>
