<div class="wasteProc">
  <div class="todoComp" [ngClass]="isDesktop? 'desktop' : 'mobile'">
    <div class="topBar">
      <div class="topBarTitle">
        <h1 style="margin-left: 1rem">Processing</h1>
      </div>
      <div class="topBarContent">
        <h1 style=" margin-left: 1rem">Leftovers Remaining: {{todoList.length}}</h1>
        <div class="selector">
          <h1>Type:</h1>
          <select class="form-select" aria-label="Select type" (change)="setType(typeSelection.value)" #typeSelection>
            <option value="all" selected>All</option>
            <option value="order">Orders</option>
            <option value="catWaste">Categorized waste</option>
            <option value="storage">Storage</option>
          </select>
        </div>
      </div>
      <div class="listIdentifiers" [ngClass]="hdv ? 'hdv':''">
        <h1 style="width: 20%;margin-left: 1rem">ID</h1>
        <h1 style="width: 40%">Article Number</h1>
        <h1 style="width: 30%">Type</h1>
      </div>
    </div>
    <div class="todoList">
      <ul class="list">
        <li class="toDoItem" *ngFor="let todo of todoList; let i = index">
          <div class="toDoButton">
            <span *ngIf="!isDesktop"
                  (click)="todoDetail(todo,i)" [class.active]="selectedIndex === i">
              <ng-template [ngIf]="todo.type != 'catWaste'">
                <p style="width: 20%; margin-left: 1rem">{{todo.id}}</p>
                <p style="width: 40%">{{todo.artikelnummer}}</p>
                <p style="width: 30%">{{todo.type}}</p>
              </ng-template>
              <ng-template [ngIf]="todo.type == 'catWaste'">
                <p style="width: 20%; margin-left: 1rem">{{todo.id}}</p>
                <p style="width: 40%">{{todo.artikelnummer}}</p>
                <p style="width: 30%">categorized waste</p>
              </ng-template>
            </span>
            <span *ngIf="isDesktop" (click)="todoDetail(todo, i)" [class.active]="selectedIndex === i"
                  [ngClass]="hdv ? 'hdv':''">
              <ng-template [ngIf]="todo.type != 'catWaste'">
                <p style="width: 20%; margin-left: 1rem">{{todo.id}}</p>
                <p
                  style="width: 40%"> {{ (todo.artikelnummer.length > 15) ? (todo.artikelnummer | slice:0:15) + '...' : (todo.artikelnummer) }}</p>
                <p style="width: 30%">{{todo.type}}</p>
              </ng-template>
              <ng-template [ngIf]="todo.type == 'catWaste'">
                <p style="width: 20%; margin-left: 1rem">{{todo.id}}</p>
                <p
                  style="width: 40%">{{(todo.artikelnummer.length > 15) ? (todo.artikelnummer | slice:0:15) + '...' : (todo.artikelnummer) }}</p>
                <p style="width: 30%">categorized waste</p>
              </ng-template>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isDesktop && show" class="todoShow">
    <app-leftover-info-box [list]="todoList" [todo]="selectedTodo" [userId]="userID"
                           (doneOutput)="refresh($event)"></app-leftover-info-box>
  </div>
</div>
