<div class="modal-header">
  <h4 class="modal-title">Article: {{todo.artikelnummer}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <ng-template [ngIf]="type == 'catWaste'">
    <div>
      <h2>Weight:   {{todo.gewicht}} g</h2>
      <h2>Size:   {{todo.metrage}}m&#178;</h2>
      <h2>Type: Categorized Waste</h2>
      <h2 *ngIf="article !=null">Color:   {{article.kleur}}</h2>
      <h2>Category:   {{category}}</h2>
    </div>
  </ng-template>
  <ng-template [ngIf]="type == 'order'">
    <div>
      <h2>Weight:   {{todo.gewicht}} g</h2>
      <h2>Size:   {{todo.metrage}}m&#178;</h2>
      <h2>Type: Order</h2>
      <h2 *ngIf="article !=null">Color:   {{article.kleur}}</h2>
    </div>
  </ng-template>
  <ng-template [ngIf]="type == 'storage'">
    <div>
      <h2>Weight:   {{todo.gewicht}} g</h2>
      <h2>Size:   {{todo.metrage}}m&#178;</h2>
      <h2>Type: Voorraad</h2>
      <h2 *ngIf="article !=null">Color:   {{article.kleur}}</h2>
    </div>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary green" data-bs-dismiss="modal" id="modalDone" (click)="done()" >Done
  </button>
</div>



