<div class="sideBar">
  <img class="logo" src="assets/images/white_logo.png" alt="Van der Lelie Logo"/>
  <div class="buttonList">
    <button class="menu-button" routerLink="/wasteProc">
      <div class="activeOutline" [routerLinkActive]="['active']">
        <mat-icon>autorenew</mat-icon>
        <a class="nav-link">Processing</a>
      </div>
    </button>
    <button class="menu-button">
      <div class="activeOutline" [routerLinkActive]="['active']">
        <mat-icon>work_history</mat-icon>
        <a class="nav-link" [routerLink]="['history']">History</a>
      </div>
    </button>
    <div class="adminButtons" *ngIf="isAdmin">
      <button class="menu-button">
        <div class="activeOutline" [routerLinkActive]="['active']">
          <mat-icon>support_agent</mat-icon>
          <a class="nav-link" [routerLink]="['history']">Customers</a>
        </div>
      </button>
      <button class="menu-button">
        <div class="activeOutline" [routerLinkActive]="['active']">
          <mat-icon>category</mat-icon>
          <a class="nav-link" [routerLink]="['categories']">Categories</a>
        </div>
      </button>
      <button class="menu-button" routerLink="/users">
        <div class="activeOutline" [routerLinkActive]="['active']">
          <mat-icon>group</mat-icon>
          <a class="nav-link" [routerLink]="['history']">Users</a>
        </div>
      </button>
    </div>
    <button class="menu-button">
      <div class="activeOutline" [routerLinkActive]="['active']">
        <mat-icon>settings</mat-icon>
        <a class="nav-link" [routerLink]="['settings']">Settings</a>
      </div>
    </button>
    <button class="menu-button">
      <div class="activeOutline">
        <mat-icon>logout</mat-icon>
        <a routerLink="/" class="nav-link" (click)="logout()">Log Out</a>
      </div>
    </button>
  </div>
</div>
