.mainBox {
  background-color: white;
}

.header {
  border-bottom: #DCDDE1 2px solid;

  h1 {
    margin: 1rem;
  }
}


.content {
  margin: 3rem 1rem;
  height: 100%;
}

.first {
  width: 50%;
}

.list > li > h2 {
  margin-top: 1rem;
}

.list > li {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #DCDDE1;
  width: 80%;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}


.doneButton {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}

.doneButton {
  appearance: none;
  background-color: #4BC8B6;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.doneButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.doneButton:hover {
  background-color: #36a9a8;
}

.doneButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.doneButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.doneButton:active {
  background-color: #4BC8B6;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
