<div class="mainBox" *ngIf="todo != null && article!= null">
  <div class="header">
    <h1>{{article.artikelnummer}}</h1>
  </div>
  <div class="content">
    <ul class="list">
      <ng-template [ngIf]="todo.type == 'catWaste'">
        <li>
          <h2 class="first">Weight:</h2>
          <h2>{{todo.gewicht}} g</h2>
        </li>
        <li>
          <h2 class="first">Size:</h2>
          <h2>{{todo.metrage}}m&#178;</h2>
        </li>
        <li>
          <h2 class="first">Type:</h2>
          <h2 style="width: 50%">{{type}}</h2>
        </li>
        <li>
          <h2 class="first">Color:</h2>
          <h2>{{article.kleur}}</h2>
        </li>
        <li>
          <h2 class="first">Category:</h2>
          <h2>{{category}}</h2>
        </li>
      </ng-template>
      <ng-template [ngIf]="todo.type != 'catWaste'">
        <li>
          <h2 class="first">Weight:</h2>
          <h2>{{todo.gewicht}} g</h2>
        </li>
        <li>
          <h2 class="first">Size:</h2>
          <h2>{{todo.metrage}}m&#178;</h2>
        </li>
        <li>
          <h2 class="first">Type:</h2>
          <h2>{{type}}</h2>
        </li>
        <li>
          <h2 class="first">Color:</h2>
          <h2>{{article.kleur}}</h2>
        </li>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Preview Label</button>
      </ng-template>

    </ul>
    <button class="doneButton" id="done" (click)="done()">Done!</button>



  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-label-preview [todo]="todo"> </app-label-preview>
</div>
