<div style="height: fit-content">
  <div class="modal-header">
    <h4 class="modal-title">{{customer.customerID}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul class="list">
      <li>
        <h2 class="first">Min Meter:</h2>
        <h2>{{customer.min_meter}}</h2>
      </li>
      <li>
        <h2 class="first">Max Meter:</h2>
        <h2>{{customer.max_meter}}</h2>
      </li>
      <li>
        <h2 class="first">Address:</h2>
        <h2>{{customer.address}}</h2>
      </li>
      <li>
        <h2 class="first">City:</h2>
        <h2>{{customer.city}}</h2>
      </li>
      <li>
        <h2 class="first">Country:</h2>
        <h2>{{customer.country}}</h2>
      </li>
      <li>
        <h2 class="first">Postal Code:</h2>
        <h2>{{customer.postalCode}}</h2>
      </li>
      <li>
        <h2 class="first">Enabled:</h2>
        <h2>{{customer.enabled ? 'True' : 'False'}}</h2>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="changeBtn" style="border: none; border-radius: 5px" (click)="openChangeCustomer()">
      Change Customer
    </button>
    <button style="border: none; border-radius: 5px" [ngClass]="customer.enabled ? 'disableBtn':'enableBtn' "
            (click)="openConfirm()">{{customer.enabled ? 'Disable' : 'Enable'}}</button>
  </div>
</div>

