<div [ngClass]="isDesktop? 'desktop' : 'mobile'">
    <li *ngIf="!loading && !isDesktop"  >
      <div class="row rowborder">
        <mat-checkbox style="width: 100px"></mat-checkbox>
        <div class="row col-sm-10"  (click)="OpenModal()">
        <div class="col-sm-2 overflow-hidden">{{leftover.artikelnummer}}</div>
        <div class="col-sm-2 overflow-hidden">{{customerName}}</div>
        <div class="col-sm-2 overflow-hidden">{{leftover.type}}</div>
        <div class="col-sm-2 overflow-hidden">{{employeeName}}</div>
        <div class="col-sm-2 overflow-hidden">{{leftover.metrage}}</div>
        <div class="col-sm-2 overflow-hidden">{{historyObject.dateProcessed | date:'short'}} </div>
        </div>
      </div>
    </li>

  <li *ngIf="!loading && isDesktop"  >
    <div class="row rowborder">
      <mat-checkbox style="width: 100px"></mat-checkbox>
      <div class="row col-sm-10"  (click)="openOffcanvas()">
        <div class="col-sm-2 overflow-hidden">{{leftover.artikelnummer}}</div>
        <div class="col-sm-2 overflow-hidden">{{customerName}}</div>
        <div class="col-sm-2 overflow-hidden">{{leftover.type}}</div>
        <div class="col-sm-2 overflow-hidden">{{employeeName}}</div>
        <div class="col-sm-2 overflow-hidden">{{leftover.metrage}}</div>
        <div class="col-sm-2 overflow-hidden">{{historyObject.dateProcessed | date:'short'}} </div>
      </div>
    </div>
  </li>
</div>
