/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Maven Pro', sans-serif;
  src: url("/src/assets/fonts/mavenPro.ttf") format('truetype');
}

a {
  font-family: 'Maven Pro', sans-serif;
}

span {
  font-family: 'Maven Pro', sans-serif;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000000;
}

p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 10px;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
}


h3 {
  font-family: 'Maven Pro', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  background-color: rgb(255 255 255 / 10%);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 80%);
  border-radius: 10px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


#inputForm {
  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
    font-family: 'Maven Pro', sans-serif;
  }

  .mat-mdc-checkbox label {
    font-family: 'Maven Pro', sans-serif;
  }

  .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
    border-color: #4BC8B6;
    background-color: #4BC8B6;
  }

  .mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
    background: #F4812B;
  }
}
