<div class="modal-header">
  <h5 class="modal-title">Waste</h5>
  <select class="form-select" #category (change)="selectCategory(category.value)" style="width: 10rem">
    <option *ngFor="let category of categories" [value]="category">
      {{category}}
    </option>
  </select>
</div>
<div class="modal-body">
  <div class="row align-items-start">
    <div class="col-sm-5">
      <app-gauge
        [wasteForCategory]="selectedWasteWeight"
        [totalWaste]="totalWasteWeight"
      ></app-gauge>
    </div>
    <div class="col-sm-2">
      <h3>Total m<sup>2</sup>:</h3>
      <h4 style="padding-left: 0.5rem">{{selectedWasteMetrage | number: '1.2-2'}}</h4>
    </div>
    <div class="col-sm-5">
      <h3>Composition:</h3>
      <table class="table">
        <thead>
          <th scope="col" style="padding-left: 0.5rem">Material</th>
          <th scope="col" style="padding-left: 0.5rem">kg</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of composition">
          <td>{{item.split(': ')[0]}}</td>
          <td>{{ConvertNumber(item.split(': ')[1]) / 1000 | number: '1.2-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
</div>

