<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Waste</h5>
      <select class="form-select" #category (change)="selectCategory(category.value)" style="width: 10rem">
        <option *ngFor="let category of categories" [value]="category">
          {{category}}
        </option>
      </select>
    </div>
    <div class="modal-body">
      <div class="row align-items-start">
        <div class="col-sm-6">
          <app-gauge
            [wasteForCategory]="selectedWasteWeight"
            [totalWaste]="totalWasteWeight"
          ></app-gauge>
        </div>
        <div class="col-sm-3">
          <h3>Total m2:</h3>
          <h4>{{selectedWasteMetrage}}</h4>
        </div>
        <div class="col-sm-3">
          <h3>Composition:</h3>
          <h4 *ngFor="let item of composition">{{item}} kg</h4>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>



