<div class="container-fluid">
  <h1>Settings</h1>
  <h2>View</h2>
  <hr>
  <div class="settings">
    <div class="settingsCheckbox">
      <input type="checkbox" class="btn-check" id="hdv-checkbox" autocomplete="off" (click)="changeDistanceView()" [checked]="highDistanceView === 'enabled'" >
      <label id="HighDistanceButton" class="btn btn-outline-secondary" for="hdv-checkbox"></label>
      <h3 id="HighDistanceText">High Distance View</h3>
      <button class="tooltip-toggle">
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </div>
  <div class="adminSettings" *ngIf="isAdmin">
    <h2>Add Leftovers</h2>
    <hr>
    <div class="settings">
      <form [formGroup]="leftoverForm" class="settingsForm">
        <div class="form-outline mb-2 settingsInputField">
          <input type="articleNumber" id="articleNumberForm" class="form-control form-control"
                 formControlName="articleNumber" placeholder="article number"/>
        </div>
        <div class="form-outline mb-2 settingsInputField">
          <input type="metrage" id="metrageForm" class="form-control form-control" formControlName="metrage"
                 placeholder="metrage"/>
        </div>
      </form>
      <button class="btn btn-primary submitButton" id="submitButton1"  [disabled]="!leftoverForm.valid || loading" (click)="addLeftover()">
        <strong *ngIf="!loading" style="color: rgba(23,22,22,0.84)">Submit</strong>

        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <strong *ngIf="loading"> Generating...</strong>
      </button>
    </div>

    <h2>Generate Random Leftovers</h2>
    <hr>
    <div class="settings">
      <form [formGroup]="randomLeftoverForm" class="settingsForm">
        <div class="form-outline mb-2 settingsInputField">
          <input type="leftoverAmount" id="leftoverAmountForm" class="form-control form-control"
                 formControlName="leftoverAmount" placeholder="amount"/>
        </div>
      </form>
      <button class="btn btn-primary submitButton" id="submitButton2" [disabled]="!randomLeftoverForm.valid || loading" (click)="addRandomLeftovers()">
        <strong *ngIf="!loading" style="color: rgba(23,22,22,0.84)">Submit</strong>
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <strong *ngIf="loading"> Generating...</strong>

      </button>
    </div>
  </div>
</div>

<!--toast-->
<div class="toast-container position-fixed top-0 end-0 p-2">
  <div id="submitToast" [ngClass]="{'text-bg-success': success,
                                      'text-bg-danger': !success}" class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div [ngClass]="{'text-bg-success': success, 'text-bg-danger': !success}" class="toast-header">
      <strong *ngIf="success" class="me-auto">Success</strong>
      <strong *ngIf="!success" class="me-auto">Error</strong>

      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{toastMessage}}
    </div>
  </div>
</div>
